.button {
-fx-background-radius: 0;
-fx-background-color: darkcyan;
-fx-font-family: "Arial Black";
-fx-text-fill: white;
-fx-font-size: 16;
}

.button:hover {
    -fx-background-color: cyan;
-fx-font-family: "Arial Black";
-fx-text-fill: white;
}

.button:pressed {
  -fx-background-color: rgb(0, 60, 60);
-fx-font-family: "Arial Black";
-fx-text-fill: white;
}

.list-view .list-cell:even {
-fx-background-color: darkcyan;
-fx-text-fill: white;
-fx-font-family: "Arial Black";
-fx-font-size: 16;
}

.list-view .list-cell:odd {
-fx-background-color: rgb(70, 190, 190);
-fx-text-fill: white;
-fx-font-family: "Arial Black";
-fx-font-size: 16;
}

.list-view .list-cell:selected {
-fx-background-color: black;
-fx-text-fill: white;
-fx-font-family: "Arial Black";
-fx-font-size: 16;
}

.list-view .list-cell:hover {
-fx-background-color: white;
-fx-text-fill: black;
-fx-font-family: "Arial Black";
-fx-font-size: 16;
}

.text-field {
-fx-background-color: darkcyan;
-fx-text-fill: white;
-fx-font-family: "Arial Black";
-fx-font-size: 16;
}

.text-area {
-fx-text-fill: white;
-fx-font-family: "Arial Black";
-fx-font-size: 16;
}

.text-area .content {
-fx-background-color: darkcyan;
}

.label {
-fx-text-fill: darkcyan;
-fx-font-family: "Arial Black";
-fx-font-size: 18;
}

.combo-box-base:hover {
-fx-backgroud-color: darkcyan;
-fx-text-fill: white;
-fx-text-size: 16;
}

.scroll-bar {
-fx-background-color: darkcyan;
}

.scroll-bar:vertical .thumb {
 -fx-background-color: cyan;
}

.scroll-bar:vertical .increment-arrow {
 -fx-background-color: cyan;
}

.scroll-pane > .viewport {
-fx-background-color: transparent;
}

.scroll-pane {
-fx-background-color: transparent;
}

#labeltitle1 {

-fx-text-fill: white;
            -fx-font-family: "Arial Black";
            -fx-font-size: 36;

}

#labeltitle2 {

-fx-text-fill: white;
            -fx-font-family: "Arial Black";
            -fx-font-size: 24;

}

#labellevel {

-fx-text-fill: rgb(50, 255, 255);
            -fx-font-family: "Arial Black";
            -fx-font-size: 18;

}

#postpane {
-fx-background-color: rgb(0,0,0);
-fx-alignment:center;
-fx-border-color: darkcyan;
-fx-broder-width: 2;
}

#holderpane {
-fx-background-color: rgb(0,0,0);
-fx-opacity: 0.7;
-fx-alignment: center;
-fx-background-radius: 23;
-fx-border-radius: 20;
-fx-border-width: 3;
-fx-border-color: darkcyan;
}

#backpane {
-fx-background-image: url("Background.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1500 1000;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

#playeroptionpane {
-fx-background-color: black;
-fx-alignment: center;
-fx-background-radius: 23;
-fx-border-radius: 20;
-fx-border-width: 3;
-fx-border-color: darkcyan;
}